@import "./tokens/colors.css";
@import "./tokens/spacing.css";
@import "./tokens/typography.css";

/* Base Reset & Normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--color-gray-100);
  margin: 0;
  width: 100%;
  height: 100%;
}
