:root {
  /* 0. The Grid Foundation */
  --size-unit: 0.25rem; /* 4px */

  /* Space scale by 0.25 */
  --space-0: calc(var(--size-unit) * 0);
  --space-px: calc(var(--size-unit) * 0.25);
  --space-0_5: calc(var(--size-unit) * 0.5);
  /* Space scale by 0.5 */
  --space-1: calc(var(--size-unit) * 1);
  --space-1_5: calc(var(--size-unit) * 1.5);
  --space-2: calc(var(--size-unit) * 2);
  --space-2_5: calc(var(--size-unit) * 2.5);
  --space-3: calc(var(--size-unit) * 3);
  --space-3_5: calc(var(--size-unit) * 3.5);
  --space-4: calc(var(--size-unit) * 4);
  /* Space scale by 1 */
  --space-5: calc(var(--size-unit) * 5);
  --space-6: calc(var(--size-unit) * 6);
  --space-7: calc(var(--size-unit) * 7);
  --space-8: calc(var(--size-unit) * 8);
  --space-9: calc(var(--size-unit) * 9);
  --space-10: calc(var(--size-unit) * 10);
  --space-11: calc(var(--size-unit) * 11);
  --space-12: calc(var(--size-unit) * 12);
  /* Space scale by 2 */
  --space-14: calc(var(--size-unit) * 14);
  --space-16: calc(var(--size-unit) * 16);
  /* Space scale by 4 */
  --space-20: calc(var(--size-unit) * 20);
  --space-24: calc(var(--size-unit) * 24);
  --space-28: calc(var(--size-unit) * 28);
  --space-32: calc(var(--size-unit) * 32);
  --space-36: calc(var(--size-unit) * 36);
  --space-40: calc(var(--size-unit) * 40);
  --space-44: calc(var(--size-unit) * 44);
  --space-48: calc(var(--size-unit) * 48);
  --space-52: calc(var(--size-unit) * 52);
  --space-56: calc(var(--size-unit) * 56);
  --space-60: calc(var(--size-unit) * 60);
  --space-64: calc(var(--size-unit) * 64);
  /* Space scale by 8 */
  --space-72: calc(var(--size-unit) * 72);
  --space-80: calc(var(--size-unit) * 80);
  /* Space scale by 16 */
  --space-96: calc(var(--size-unit) * 96);
}

/* Semantic Spacing */
:root {
  --spacing-none: var(--space-0);
  --spacing-xs: var(--space-1);
  --spacing-sm: var(--space-2);
  --spacing-md: var(--space-4);
  --spacing-lg: var(--space-6);
  --spacing-xl: var(--space-8);
  --spacing-2xl: var(--space-12);
  --spacing-3xl: var(--space-16);
  --spacing-4xl: var(--space-20);
  --spacing-5xl: var(--space-24);
}
