---
import type { Variant } from './types';

interface Props {
    variant?: Variant;
    disabled?: boolean;
}

const { variant = 'contained' } = Astro.props;
---

<button type="button" data-style={variant} {...Astro.props}>
    <slot>
        Fallback content for button (Please place some content)
    </slot>
</button>

<style>
    button {
        padding: var(--spacing-sm) var(--spacing-lg);
        border-radius: var(--spacing-sm);
    }

    [data-style="contained"] {
        background: var(--color-brand-primary);
        border: var(--space-px) solid var(--color-brand-primary-active);
    }

    [data-style="outlined"] {
        background: transparent;
        border: var(--space-px) solid var(--color-brand-primary);
    }

    [data-style="text"] {
        background: transparent;
        border: unset;
    }
</style>
