---
import Button from "./atoms/button/button.astro";
import Input from "./atoms/input/input.astro";
import Link from "./atoms/link/link.astro";
import Text from "./atoms/text/text.astro";
import Background from "./Background.astro";
---

<div id="container">
    <Background />

	<Text as="h1" />

    <main>
    	<Button />
    	<Button variant="outlined" />
    	<Button variant="text" />

    	<Input />
    	<Input disabled />
    	<Input type="number" />

    	<Text as="h2">Welcome to Astro!</Text>
    	<Text as="h3">Welcome to Astro!</Text>
    	<Text as="h4">Welcome to Astro!</Text>
    	<Text as="h5">Welcome to Astro!</Text>
    	<Text as="h6">Welcome to Astro!</Text>
    	<Text as="p">Welcome to Astro!</Text>
    	<Text as="span">Welcome to Astro!</Text>
    	<Text as="blockquote">Welcome to Astro!</Text>
    	<Text as="em">Welcome to Astro!</Text>

        <Link to="/">Primary link to home</Link>
        <Link href="https://astro.build">External link to Astro</Link>
        <Link variant="subtle" href="https://astro.build">External link to Astro</Link>
    </main>
</div>

<style>
    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 2rem;
        padding: 2rem;
    }
</style>
