---
import Text from '@/components/atoms/Text.astro';
---

<main>
    <Text as="h1">G8k</Text>
</main>

<style>
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
</style>
