---
import { Font } from "astro:assets";
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="generator" content={Astro.generator} />
	<title>Astro Basics</title>
	<!-- Fonts -->
	<Font cssVariable="--font-roboto" preload />
	<Font cssVariable="--font-clash-display" preload />
	<Font cssVariable="--font-custom" preload />
</head>

<style>
    body {
        font-family: var(--font-roboto);
    }
</style>
